.app-wrapper {
    padding: 10px;
    width: 100%;
}
.box {
    position: relative;
 
    overflow: auto;
}
.parking {
    float: left;
    display: inline;
    /* border: 1px solid transparent; */
    border-top: 0px solid #54545485;
    /* background: #d2d2d28c; */
    text-align: center;
    cursor: pointer;
    min-height: 161px;
    max-height: 161px;
   
}
.parking img {
    width: 84%;
    max-width: 54px;
}

.chagerspace_one{
    width:10%;
}
.chagerspace_one .parking{
    width:100%;
   /* border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;*/
}
.chagerspace_two{
    width:18%;
}

.chagerspace_two .parking{
    width:50%;
}
.chagerspace_two .c2{
    /* border-left: 1px solid #54545485; */
}
.chagerspace_two .c1{
    /* border-right: 1px solid #54545485; */
}

.chagerspace_three{
    width:27%;
}

.chagerspace_three .parking{
    width:33.3%;

}

.chagerspace_three .c2{
    width:33.3%;
    /* border-left: 1px solid #54545485;
    border-right: 1px solid #54545485; */
}
.chagerspace_three .c1{
    width:33.3%;
   
    /* border-right: 1px solid #54545485; */
}
.chagerspace_three .c3{
    width:33.3%;
    /* border-left: 1px solid #54545485; */
}

.chagerspace_four{
    width:37%;
}
.chagerspace_four .parking{
    width:25%;
}
.chagerspace_four .c1, .chagerspace_four .c2, .chagerspace_four .c3{
    /* border-right: 1px solid #54545485; */
}
.chagerspace_four .c2, .chagerspace_four .c3, .chagerspace_four .c4{
    /* border-left: 1px solid #54545485; */
}
.chargeattach {
    float: left;
    padding: 5px;
    box-shadow: 0 0 13px 1px #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 188px;
    max-height: 188px;
    margin-right: 2%;
    border-top:3px solid #92928cc4;
}
.parking.active, .parking:hover {
    background: #c0ff00b8;
}

 svg .cls-1 {
    fill: #444;
  }
 svg .power {
    top: 40;
    fill: rgb(36, 175, 31);
    }
 svg .small {
    fill: #000;
    font-size: 55px;
  }
.parking{
    border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(255, 0, 0, 0), 
      rgb(88, 88, 87), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.infoarea{
    box-shadow: 0 0 13px 1px #ccc;
}
div#gauge-chart2 {
    color: #ccc;
    background: #252525;
}
.meter {
    background: #252525;
    color: #fff;
    width: 33.3%;
    text-align: center;
    float: left;
}
.details {
    width: 100%;
    padding: 11px;
    margin-top: 15px;
    background: #252525;
    color: #fff;
    font-size: 11px;
}   
.detailsbox{
    padding-left: 0;
}
.vechicleBox {
    width: 30%;
    float: left;
}

.vechicleBox img {
    width: 100%;
}
.vechicleinfo {
    width: 70%;
    float: left;
}
.titlen{
    color:#fff;
}
.details p {
    margin-bottom: 11px;
}
.imgs{
  width: 50%;
  margin: auto ;
}
.center{
    text-align: center;
}
.bark{
    background : #252525;
    color :#fff;
}
.bark h3{
    color :#fff;
}
img.available {
    padding-top: 63%;
}
img.maintenance {
    padding-top: 63%;
}

.notselected {
    width:100%;
    height: 30vh;
    box-shadow: 0 0 13px 1px #ccc;
   background: url("./vahiclesimages/background.png") #252525;
   background-position: center center;
   background-size: 50%;
   background-repeat: no-repeat;

}

@media screen and (max-width:600px){
    .chargeattach {
        min-height: 127px;
    }
    .parking{
        min-height: 116px;

    }

    .chagerspace_one{
        width:100%;
    }
   
    .chagerspace_two{
        width:100%;
    }
    .chagerspace_three{
        width:100%;
    }

    .chagerspace_four{
        width:100%;
    }
    .parking img {
        width: 84%;
        max-width: 39px;
    }
    .parking{
        max-width:100px;
        
    }
    .chagerspace_one .parking{
        margin: auto;
        float: none;
        display: block;
    }
}